@import "../index.css";

/*Hiding tick line of svg charts*/
.tick line,
g path {
  display: none;
}

.chart-main {
  stroke: var(--green);
}

/* rect {
  fill: var(--green);
} */

g {
  font-size: 0.8rem;
  color: var(--gray);
}
